[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RRRR"]
	path = RRRR
	url = https://github.com/finyang/rrrr
[submodule "flap"]
	path = flap
	url = https://github.com/finyang/flap
[submodule "lazybar"]
	path = lazybar
	url = https://github.com/finyang/lazybar
